
/*
**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html,
body {
    height: 100%;
    min-width: 320px;

}

body {
    line-height: 1;
    

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}





@media (max-width: 767.98px) {
    .title {
        font-size: 38px;
    }
}*/

/*-------------------------------*/
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.body{
    
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #0a0a0a;
    
}

.header{
    background-color: #111111;
    padding: 33px 0 33px;
    color: #717171;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    
}
.menu-item{
    padding-right: 30px;
}
.menu-link{
    font-size: 24px;
    line-height: 24px;
}
.phone{
    
}
.logo-img{
    
}
